*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background: #1186c4;
  min-height: 100vh;
}

button {
  cursor: pointer;
  font-family: inherit;
}

input {
  font-family: inherit;
}
